<?xml version="1.0"?>
<config>
  <modules>
    <Webclues_Beautyprofiler>
      <version>0.1.0</version>
    </Webclues_Beautyprofiler>
  </modules>
  <frontend>
    <routers>
      <beautyprofiler>
        <use>standard</use>
          <args>
            <module>Webclues_Beautyprofiler</module>
            <frontName>beautyprofiler</frontName>
          </args>
      </beautyprofiler>
    </routers>
		<layout>
		  <updates>
			<beautyprofiler>
			  <file>beautyprofiler.xml</file>
			</beautyprofiler>
		  </updates>
		</layout>
    <events>
          <sales_quote_remove_item>
                <observers>
                    <webclues_beautyprofiler>
                        <type>singleton</type>
                        <class>Webclues_Beautyprofiler_Model_Beautyprofilerproduct</class>
                         <class>beautyprofiler/beautyprofilerproduct</class>
                        <method>deleteItem</method>
                    </webclues_beautyprofiler>
                </observers>
            </sales_quote_remove_item> 
            <catalog_product_collection_load_before>
                <observers>
                    <webclues_beautyprofiler>
                        <type>singleton</type>
                        <class>Webclues_Beautyprofiler_Model_Beautyprofilerproduct</class>
                         <class>beautyprofiler/beautyprofilerproduct</class>
                        <method>applyCustomFilter</method>
                    </webclues_beautyprofiler>
                </observers>
            </catalog_product_collection_load_before> 
             <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <webclues_beautyprofiler>
                        <type>singleton</type>
                        <class>Webclues_Beautyprofiler_Model_Beautyprofilerproduct</class>
                         <class>beautyprofiler/beautyprofilerproduct</class>
                        <method>addJavascriptBlock</method>
                    </webclues_beautyprofiler>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>             <customer_logout>
            <observers>
                <webclues_beautyprofiler>
                    <class>beautyprofiler/beautyprofilesession</class>
                    <method>logout</method>
                    <type>singleton</type>
                </webclues_beautyprofiler>
            </observers>
            </customer_logout>

            <customer_login>
            <observers>
                <webclues_beautyprofiler>
                    <class>beautyprofiler/beautyprofilesession</class>
                    <method>login</method>
                    <type>singleton</type>
                </webclues_beautyprofiler>
            </observers>
            </customer_login>
        </events>
  </frontend>
  <global>
    <helpers>
      <beautyprofiler>
        <class>Webclues_Beautyprofiler_Helper</class>
      </beautyprofiler>
    </helpers>
	<blocks>
	  <beautyprofiler>
		<class>Webclues_Beautyprofiler_Block</class>
	  </beautyprofiler>
	</blocks>
  <blocks>
    <beautyprofiler>
        <class>Webclues_Beautyprofiler_Block</class>
    </beautyprofiler>
    <adminhtml>
        <rewrite>
             <catalog_product_edit_tabs>Webclues_Beautyprofiler_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
         </rewrite>
     </adminhtml>
</blocks>
  <models>
    <beautyprofiler>
    <class>Webclues_Beautyprofiler_Model</class>
    <resourceModel>beautyprofiler_mysql4</resourceModel>
    </beautyprofiler>
    <beautyprofiler_mysql4>
    <class>Webclues_Beautyprofiler_Model_Mysql4</class>
    <entities>      
        <beutyprofiler>
        <table>beauty_profiler</table>
        </beutyprofiler>
        <beautyprofilerattrmapaing>
        <table>beauty_profiler_attribute_column_maping</table>
        </beautyprofilerattrmapaing>
        <beautyprofilerproduct>
        <table>beauty_profiler_product</table>
        </beautyprofilerproduct>
        <categoryattr>
        <table>cat_attr_mapping</table>
        </categoryattr>
        <filtercategory>
        <table>side_filter_category</table>  
        </filtercategory>
        <beautyprofilebycategory>
        <table>beautyprofile_by_category</table>
        </beautyprofilebycategory>
        <beautyprofilesummary>
        <table>wc_beauty_profile_summery</table>
        </beautyprofilesummary>
        <filterableattributes>
        <table>beautyprofile_filterable_attributes</table>
        </filterableattributes>
        <attrmapping>
        <table>beautyprofie_attribute_mapping</table>
        </attrmapping>
        <sampleproduct>
        <table>cart_product_suggestion</table>
        </sampleproduct>
        <samplecategory>
        <table>beautyprofile_by_samplecategory</table>
        </samplecategory>
        <sampleattrmapping>
        <table>sampleproduct_beautyprofile_attribute_mapping</table>
        </sampleattrmapping>
        <skintypetexture>
        <table>skintype_texture</table>
        </skintypetexture>
        <benefitbycategory>
        <table>benefit_by_category</table>
        </benefitbycategory>
        <textureforskintype>
        <table>texture_for_skin_type</table>
        </textureforskintype>
        <profilecompeletstatus>
        <table>mapping_category_beautyprofile</table>
        </profilecompeletstatus>
        <profilecompeletstatussub>
        <table>mapping_category_beautyprofile_allfields</table>
        </profilecompeletstatussub>
        <sidefiltercategorynew>
        <table>side_filter_category_new</table>
        </sidefiltercategorynew>
    </entities>
    </beautyprofiler_mysql4>
  </models>
  <resources>
    <beautyprofiler_setup>
    <setup>
      <module>Webclues_Beautyprofiler</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
    </beautyprofiler_setup>
    <beautyprofiler_write>
    <connection>
      <use>core_write</use>
    </connection>
    </beautyprofiler_write>
    <beautyprofiler_read>
    <connection>
      <use>core_read</use>
    </connection>
    </beautyprofiler_read>
  </resources>
  </global>
  <admin>
  <routers>
    <admin_beautyprofiler>
      <use>admin</use>
    <args>
      <module>Webclues_Beautyprofiler</module>
      <frontName>admin_beautyprofiler</frontName>
    </args>
    </admin_beautyprofiler>
  </routers>
  </admin>
  <adminhtml>
  <!-- <menu>
    <beautyprofiler module="beautyprofiler">
    <title>Beautyprofiler</title>
    <sort_order>100</sort_order>
    <children>
      <beautyprofilerbackend module="beautyprofiler">
      <title>Beauty Profiles</title>
      <sort_order>0</sort_order>
      <action>admin_beautyprofiler/adminhtml_beautyprofilerbackend</action>
      </beautyprofilerbackend>
      <beutyprofiler module="beautyprofiler">
        <title>Manage Beutyprofiler</title>
      <sort_order>0</sort_order>
      <action>admin_beautyprofiler/adminhtml_beutyprofiler</action>
      </beutyprofiler>
    </children>
    </beautyprofiler>
  </menu> -->
  <acl>
    <resources>
    <all>
      <title>Allow Everything</title>
    </all>
    <admin>
      <children>
      <beautyprofiler translate="title" module="beautyprofiler">
        <title>Beautyprofiler</title>
        <sort_order>1000</sort_order>
        <children>
      <beautyprofilerbackend translate="title">
      <title>Beauty Profiles</title>
      </beautyprofilerbackend>
      <beutyprofiler translate="title">
      <title>Manage Beutyprofiler</title>
      <sort_order>0</sort_order>
      </beutyprofiler>
        </children>
      </beautyprofiler>
      </children>
    </admin>
    </resources>
  </acl>
  <layout>
    <updates>
    <beautyprofiler>
      <file>beautyprofiler.xml</file>
    </beautyprofiler>
    </updates>
  </layout>
  <events> 
            <catalog_product_save_before>
                <observers>
                    <beautyprofiler>
                        <class>beautyprofiler/beutyprofiler</class>
                        <method>autoSavecustomattr</method>
                    </beautyprofiler>
                </observers>
            </catalog_product_save_before>
  </events>
  </adminhtml>
</config> 